*{
    margin:0 auto;
}

header {
    align-items: center;
    display: flex;
    background: #76A5AF;
    justify-content: space-around;
    justify-content: flex-start;
    justify-content: space-around;
    color: #D5D8DC;
}

header img {
    width: 5%;
    height: auto;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Amatic_SC";
}

li {
    list-style-type: none;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    color: #AAB7B8;
    font-family: "Amatic_SC";
}

h1 {
    color: #003566;
    position: relative;
    text-align: center;
    font-family: "Amatic_SC";
   
}

h2{
    color: #003566be;
}

.images {
    display: flex;
    flex-direction: row;
    margin: 0;
    background: #D5D8DC;
    border:1px solid #1a537642;
}

figure{
    border: 1px solid #1a537642;
    text-align: center;
}

figure img{
    width: 100%;
    height: auto;
}

form {
    margin: 0 auto;
    padding: 1rem;
    background-color: #1a537642;
    border-radius: 0.5rem;
    display: grid;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.contact-info {
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #1a537642;
    border-radius: 0.5rem;
    display: grid;
    align-items: left;
    padding:1rem;
}

#info{
    text-align: center;
    border-bottom:1px solid #003566;
    margin:0;
}

.contact {
    display: flex;
    flex-direction: row;
}

.address {
    display: flex;
    flex-direction: row;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid #003566;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: "Amatic_SC";
}

label {
    text-align: center;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: #1A5276;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #27AE60;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: center;
}

.form-item {
    display: grid;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.wireframe-container a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
    justify-content: flex-end;
}

.copyright {
    flex: 1;
    text-align: center;
}

.sociallinks a {
    margin-left: 10px;
}