@media only screen and (min-width:38rem) {

    * {
        max-width: 800px;
        margin: 0 auto;
    }

    .page-content {
        display: flex;
        flex-direction: row;
    }

    .pictures {
        display: grid;
        grid-template-columns: auto auto;
    }

}