* {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #1A5276;
    --secondary-color: #AAB7B8;
    --accent-color-one: #D5D8DC;
    --accent-color-two: #27AE60;
}

header {
    align-items: center;
    display: flex;
    background: #76A5AF;
    justify-content: space-around;
    justify-content: flex-start;
    justify-content: space-around;
    color: #D5D8DC;
}

header img {
    width: 5%;
    height: auto;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    color: #AAB7B8;
    font-family: "Amatic_SC";
}

h1 {
    color: #003566;
    position: relative;
    text-align: center;
    font-family: "Amatic_SC";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding:1rem;
}

h2 {
    color: #003566;
    position: relative;
    text-align: center;
    font-family: "Amatic_SC";
}

figcaption {
    color: #003566;
    position: relative;
    text-align: center;
    font-family: "Amatic_SC";
}

.hero img {
    display: block;
    width:100%;
    height: 100vh;
    position: relative;  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#happyclient {
    width: 20em;
    height:auto;
    align-items: center;
    padding-bottom:1rem;
}

article {
    background: rgba(255, 255, 255, 0.644);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width:60%;
    padding:1rem;
    display:grid;
    grid-template-rows: auto auto;
    max-width: 700px;
    padding:3rem;
}

section {
    position: relative;
}

.title {
    text-align: center;
}

.content {
    text-align: justify;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.history-image img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px gray;
    position: relative;
    border: 1px solid #003566;
    padding: 3px;
}

.adventure {
    text-align: center;

}

.figure {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    grid-template-rows: 20px 20px 20px 20px;
    background: #d5d8dcaf;
}

figure img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 0 30px gray;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

figure {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
    justify-content: flex-end;
}

.copyright {
    flex: 1;
    text-align: center;
}

.sociallinks a {
    margin-left: 10px;
}
