*{
    margin:10px;
    padding:0px;
    box-sizing:border-box;
    text-decoration:none;
}

:root{
    --primary-color:#003566;
    --secondary-color:#EDE0D4;
    --accent-color-one:#FFEE99;
    --accent-color-two:#90E0EF;
}

header{
    align-items:center;
    display: flex;
    background:#EDE0D4;
    justify-content:space-around;
    padding:8px;
}
header img{
    width:100px;
    height: auto;
}

.navigation-bar{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
}

h1{
    color:#003566;
    position: absolute;
    text-align: center;
    width: 1183px;
    background:#ffee998e;
    top:320px;
    font-family:"Amatic_SC";
    padding:15px;
} 

h2{
    color:#003566;
    font-family:"Roboto"
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    position:relative;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#happyclient{
    float:right;
    width: 9em;
}

article{
    background: #00356682;
    position: absolute;
    width: 1183px;
    height: 130px;
    top: 700px;
    padding: 10px;
    color:white;
}

section{
    position: relative;
}

.title{
    text-align:center;
}

.content{
    text-align:justify;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.history-image img{
    width: 100%;
    height: auto;
}

.adventure{
    text-align:center;
}

.figure{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    grid-template-rows: 20px 20px 20px 20px;
}

figure img {
    width: 150px;  
    height: 150px;
    object-fit: cover;
  }
  
  figure {  
    text-align: center;
  }
  
  footer{
    display:flex;
    flex-direction: row;
    align-items:center;
  }

  footer img{
    width: 30px;  
    height: 30px; 
    justify-content:flex-end;
  }

  .copyright{
    flex:1;
    text-align:center;
  }

  .sociallinks a{
    margin-left:10px;
  }