@media only screen and (min-width:38rem) {

    * {
        max-width: 800px;
        margin: 0 auto;
    }

    .page-content {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        margin-top: 20px;
    }

    .pictures {
        display: grid;
        grid-template-columns: auto auto;
    }

    .figure {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        grid-template-rows: 20px 20px 20px 20px;
        column-gap: 5px;
    }

}