@media only screen and (min-width:38rem) {

* {
        max-width: 800px;
        margin: 0 auto;
    }

.trip-descriptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
}

.trips-p {
    margin:10px;
}

}