@media only screen and (min-width:38rem) {

        header,
            main,
            nav,
            footer {
                max-width: 800px;
                margin: 0 auto;
            }
            
    .container {
    display: grid;
    grid-template-columns: auto auto;
}
}