header {
    align-items: center;
    column-gap: 8px;
    background-color: steelblue;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
}

h1 {
    color: steelblue;
    text-align: center;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

.about{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    border-radius: 20%;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    border-radius: 20%;
}

aside img {
    width: 100%;
    height: auto;
    border-radius: 20%;
}

main img {
    width: 35%;
    height: auto;
    border-radius: 20%;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}